baseURL = ""
title = "OneBlog"

theme = "puppet"
publishDir = "dist"

copyright = "Copyright &copy; OneBlog 2025"
paginate = 7
languageCode = "zh-CN"
defaultContentLanguage = "zh"

hasCJKLanguage = true
enableInlineShortcodes = true
enableEmoji = true

# prevent build failures when using Hugo's Instagram shortcode due to deprecated Instagram API.
# See https://github.com/gohugoio/hugo/issues/7228#issuecomment-714490456
ignoreErrors = ["error-remote-getjson"]

disqusShortname = ""
googleAnalytics = ""

[outputs]
home = ["HTML", "JSON", "RSS"]

# prevent build failures when using Hugo's template _internal/opengraph.html 
[taxonomies]
category = "categories"
tag = "tags"
series = "series"

[markup]
[markup.highlight]
noClasses = true
codeFences = true
guessSyntax = true
lineNos = true
lineNumbersInTable = false
style = "github-dark"

[markup.goldmark.renderer]
unsafe = true

[menu]
[[menu.main]]
identifier = "home"
name = "Home"
url = "/"
weight = -100
[[menu.main]]
identifier = "tech"
name = "Tech"
url = "/series/tech/"
weight = 10
[[menu.main]]
identifier = "life"
name = "Life"
url = "/series/life/"
weight = 20
[[menu.main]]
identifier = "review"
name = "Review"
url = "/series/review/"
weight = 30
[[menu.main]]
identifier = "archive"
name = "Archive"
url = "/archive/"
weight = 40
[[menu.main]]
identifier = "about"
name = "About"
url = "/about/"
weight = 50

[params]
author = "YUN"
description = "「体验平凡 创造所感」"
keywords = "blog,developer,life,personal"
img_home = "/img/bg-home.jpg"
img_404 = "/img/bg-404.jpg"

useFaviconGenerator = true

# Add your file to assets folder
# (assets/js/custom.js, assets/css/custom.css)
# include by `js/custom.js` and `css/custom.css`
custom_js = ["js/glightbox-option.js"]
custom_css = ["css/scrollbar.css"]

[params.sidebar]
enable = true
# Avatar will be overwritten by gravatar image if `gravatarEmail` is filled
gravatarEmail = ""
avatar = "/img/pic-me.jpg"

[[params.sidebarBios]]
bio = "YUN Zhang"
[[params.sidebarBios]]
bio = "I'm a Horizon Dreamer"
[[params.sidebarBios]]
bio = "我是地平线上的追梦者"

[params.social]
github = "sigmarising"
linkedin = "yunzhang1996"
rss = true

[[params.friends]]
name = "我的掘金文章"
url = "https://juejin.cn/user/3270396585196667/posts"
[[params.friends]]
name = "我的知乎文章"
url = "https://www.zhihu.com/people/zdfssf-lsdffsd/posts"
[[params.friends]]
name = "我的 CSDN (deprecated)"
url = "https://blog.csdn.net/sigmarising?type=blog"
[[params.friends]]
name = "我的简书 (deprecated)"
url = "https://www.jianshu.com/u/200f6f2ca07d"

# See https://giscus.app/
[params.giscus]
enable = false
repo = ""
repo_id = ""
category = ""
category_id = ""
input_position = "top"
theme = "light_tritanopia"
lang = "en"
